<!----styles for html frame--->

.container {
  text-align: center;
  margin: 0 auto;
}

BODY {
  font-family: pt serif, serif;
}

img {
  width: 20px;
  padding-right: 5px;
}
.headline {
  font-size: 3em;
  font-family: 'montserrat';
  font-weight: 700;
  text-align: center;
  font-family: helvetica, arial, sans-serif;
}

.logo {
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 1.25em;
}

.bg-dark {
 background:#000 !important;
}

ul.navbar-nav {
 margin-left:50%;
}

.navbar {
 font-family: 'Montserrat', sans-serif;

}

p{
 text-align:left;
 line-height:180%;
}

.red {
 color: #e0162b;
}

.blue {
 color: #0052a5;
}

.chapter {
  text-align: center;
  font-size: 3em;
  font-weight: 700;
  font-family: helvetica, arial, sans-serif;
}

.byline {
  font-size: 1em;
  text-transform: uppercase;
  text-align: center;
  font-family: helvetica, arial, sans-serif;
}

.chapter {
  font-size: 2em;
  font-weight: 700;
  text-align: left;
  font-family: helvetica, arial, sans-serif;
}

#footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   height: 100px;
   padding: 25px;
   color: white;
   font-family: 'Montserrat';
   background-color: black;
   text-align: center;

p {
  font-size: 1em;
  font-family: helvetica, arial, sans-serif;
  line-height: 100%;
  text-align: center;
  margin: 0 auto;
}

#image {
  position: center;
}
