<!----styles for html frame--->

#container {
  text-align: center;
  margin: 0 auto;
  max-width: 100px;
}

a:link {
  text-decoration:none;
  color: #e0162b;
}

a:visited {
  color:#999;
}

a:hover {
  color: #0052a5;
}

.row {
  text-align: center;
  margin: 0 auto;
  max-width: 100%;
  display: block;
  font-size:  1em;
  font-family: georgia, times, serif;

}

body {
  font-family: 'PT Serif', serif;
}

.stack-image {
  width:100%;
  max-width:900px;
  margin:0 auto;
  padding-top:30px;
}

.caption {
  width:100%;
  max-width:900px;
  margin:0 auto;
  padding-bottom:30px;
  font-family: 'Montserrat', sans-serif;
  color:#999;
}

.graphic-container {
  font-size: 1em;
  padding-top:30px;
  padding-bottom:30px;
  border-top:1px solid #cdcdcd;
  border-bottom:1px solid #cdcdcd;
  font-family: 'Montserrat', sans-serif;
  margin:0 auto;
}

.graphic-container-h2 {
  font-size: 2em;
  font-family: 'PT Serif','Montserrat', sans-serif;
}

.graphic-container-h5 {
  font-size: 0.9em;
  font-family: 'PT Serif','Montserrat', sans-serif;
}

.blue {
  color: #0052a5;
}

.red {
  color: #e0162b;
}

.headline {
  font-size: 3em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-align: center;
}

.logo {
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 1.25em;
}

.bg-dark {
 background:#000 !important;
}

ul.navbar-nav {
 margin-left:50%;
}

.navbar {
 font-family: 'Montserrat', sans-serif;
}

p {
 font-size: 1em;
 font-family: 'PT Serif', serif;
 margin: 0 auto;
 text-align:left;
 line-height:180%;
 color: black;
}

.navbar-brand {
  font-family: 'Montserrat';
  font-size: 1.25em;
  color: white;
}

.hero-image {
  width: 100%;
  height: 500px;
  width: 500px;
  max-width: 900px;
  align-content: center;
}

.intro {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25em;
  max-width: 800px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.stack-image {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding-top: 30px;
}

.star-red {
  width: 15px;
}

.star-blue {
  width: 15px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.chapter {
  text-align: center;
  font-size: 3em;
  font-weight: 700;
  font-family: helvetica, arial, sans-serif;
}

.byline {
  font-size: 1em;
  font-weight: 700;
  text-align: center;
  font-family: 'Montserrat', serif;
}

.chapter {
  font-size: 2em;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;

}

#footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   height: 100px;
   padding: 25px;
   color: white;
   font-family: 'Montserrat';
   background-color: black;
   text-align: center;


#image {
  position: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  vertical-align: middle;
  color: gray;
}
