body {
  font-family: 'Open Sans', arial, sans-serif;
  font-size: lem;
  color: #444;
  font-weight:400;
}

H1 {
  font-size:3em;
  color: #33485e;
  text-transform:uppercase;
  text-align:center;
}

p1 {
  text-transform:uppercase;
  font-size: 1.5em;
  color: #33485e;
}



H2 {
  font-size:
}
